header {
  font-size: 16px;
  font-weight: bold;
  // position: fixed;
  .header-links a {
    margin-right: 30px;
  }
  .header-top-bar {
    padding: 0px 30px;
    height: 50px;
    font-size: 16px;
    display: flex;
    background-color: #ffffff;

    .show > .btn-secondary.dropdown-toggle {
      background-color: #ffffff;
      border-color: #ffffff;
      color: var(--primary-color);
      &:focus,
      &:hover,
      &:active {
        background-color: #ffffff;
        border-color: #ffffff;
        color: var(--primary-color);
        box-shadow: none;
      }
    }
    .dropdown-toggle {
      background-color: #ffffff;
      border-color: #ffffff;
      color: var(--primary-color);
      font-size: 16px;
      font-weight: bold;
      &:focus,
      &:hover,
      &:active {
        background-color: #ffffff;
        border-color: #ffffff;
        color: var(--primary-color);
        box-shadow: none;
      }
      .dropdown-menu {
        font-size: 13px;
      }
    }
  }
  .header-navbar {
    background-color: #2e2e2e;
    height: 70px;
    padding: 0px 30px;
  }
  .navbar-brand {
    color: #f62f5e;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .header-togglebar {
    display: none;
  }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  html {
    font-size: 13px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  header {
    .header-links a {
      margin-right: 7px;
      font-size: 15px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  header {
    .header-togglebar {
      color: #ffffff;
      font-size: 15px;
      &:hover {
        cursor: pointer;
      }
      display: block;
    }
    .header-top-bar {
      padding: 0px 5px 0px 25px;
      height: 40px;
      font-size: 13px;
      font-weight: bold;
      // display:none;
    }
    .header-navbar {
      background-color: #2e2e2e;
      height: 50px;
      padding: 0px 30px;
    }
    .navbar-brand {
      color: #f62f5e;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 4px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
